
  .overflow-y-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de scroll */
  }

  .overflow-y-scroll::-webkit-scrollbar-track {
    background-color: #181A20; /* Color del fondo de la barra de scroll */
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: #181A20; /* Color del thumb (el elemento que se arrastra para hacer scroll) */
    border-radius: 4px; /* Radio de borde del thumb */
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #181A20; /* Color del thumb al pasar el cursor sobre él */
  }

